
<!-- Instagram -->
<section class="section-padding instagram bg-gray">
    <div class="container text-center">
        <h2 class="page-title">Liman Grafik</h2>
        <p class="">Follow Us <a class="strong" href="#">MayShop</a></p>
    </div>
    <div class="container">
        <ul class="intagram-feed">
            <li>
                <a href="#">
                    <img src="~/Content/img/instagram/insta-1.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/instagram/insta-2.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/instagram/insta-3.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/instagram/insta-4.jpg" alt="">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="~/Content/img/instagram/insta-5.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>
</section>
<!-- End Instagram -->
