
<!-- Promo Box -->
<section id="promo" class="section-padding-sm promo ">
    <div class="container">
        <div class="promo-box row">
            <div class="col-md-4 mtb-sm-30 promo-item">
                <div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                <div class="info">
                    <a href="#">
                        <h6 class="normal">Delivery Free</h6>
                    </a>
                    <p>On Order Over $150</p>
                </div>
            </div>
            <div class="col-md-4 mtb-sm-30 promo-item">
                <div class="icon"><i class="fa fa-repeat" aria-hidden="true"></i></div>
                <div class="info">
                    <a href="#">
                        <h6 class="normal">Exchange or Return</h6>
                    </a>
                    <p>30 Day Money Back Guarantee</p>
                </div>
            </div>
            <div class="col-md-4 mtb-sm-30 promo-item">
                <div class="icon"><i class="fa fa-headphones" aria-hidden="true"></i></div>
                <div class="info">
                    <a href="#">
                        <h6 class="normal">Support</h6>
                    </a>
                    <p>24/7 Online Support</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Promo Box -->